// From: https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb
{
  "extends": "airbnb",

  "parser": "babel-eslint",

  "env": {
    "browser": true
  },

  // -----------------------------
  // Override airbnb default rules
  // -----------------------------
  //
  // first argument: rule severity (0 - no check, 1 - warning, 2 - error)
  "rules": {
    "no-console": [0],
    // Adding exceptions to the 'require constructor function names to
    // begin with a capital letter (new-cap)' rule
    "new-cap": [2, { "capIsNewExceptions": ["Radium"] }],
    // "after-used" tells the linter to not warn on arguments prior to the one
    // being used.  For example, "error" won't be warned on in the following
    // example: callback = (error, data) => data.important;
    "no-unused-vars": [1, { "vars": "all", "args": "after-used" }],
    "react/jsx-boolean-value": [0],
    // Allows triple slash directives ('///') as used in qa-tests/steps_file.js for autocomplete.
    "spaced-comment": [1, "always", {
      "markers": ["/"]
    }]
  },
  // https://github.com/benmosher/eslint-plugin-import#importcore-modules
  "settings": {
    "import/core-modules"  : [ "electron", "os" ]
  }
}
